@media screen and (max-width: 1000px) {
  p {
    font-size: 0.9rem;
    line-height: 1.9rem;
  }

  .grid-3 {
    gap: 1rem;
  }

  .skills-right ul li {
    font-size: 0.9rem;
  }

  .up {
    right: 4em;
    bottom: 4em;
  }

  .up .icon_up {
    width: 28px;
    height: auto;
  }
}

@media screen and (max-width: 825px) {
  /* Burger */
  .burger {
    display: block;
    cursor: pointer;
  }

  .toggle-burger .line-1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }

  .toggle-burger .line-2 {
    opacity: 0;
  }

  .toggle-burger .line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* Navigasi */
  nav {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background: var(--primaryBackgroundColor);
    border-left: 1px solid var(--borderColor);
    z-index: 9;
    transform: translateX(100%);
    transition: 0.2s ease-in-out;
  }

  nav ul {
    height: 100vh;
    align-items: normal;
    flex-direction: column;
    justify-content: normal;
    padding: 6em 0 0 2em;
  }

  nav ul li a::after {
    transform-origin: 0 0;
  }

  nav ul li a:hover::after {
    transform: scaleX(0.2);
  }

  nav ul .nav-icon {
    justify-content: normal;
    gap: 2rem;
  }

  .nav {
    position: none;
    background: none;
    padding: 0;
  }

  .nav-active {
    transform: translateX(0);
  }

  .logo {
    display: none;
  }

  :root {
    --sectionPadding: 4rem 0;
  }

  .section-title {
    font-size: 1.6rem;
    margin: 0.6rem 0 2.5rem;
  }

  .pre-title {
    font-size: 0.8rem;
  }

  /* Memet Section */
  #memet {
    grid-template-columns: 1fr;
    height: fit-content;
    padding-top: 5rem;
  }

  .memet-right {
    order: -1;
    padding-bottom: 3rem;
  }

  .memet-left {
    text-align: center;
    padding-bottom: 5rem;
  }

  .memet-left .pre-title {
    margin: 0 auto;
  }

  .memet-name {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  /* Skill Section */
  .Skills-grid {
    gap: 1rem;
  }

  /* Footer Section */

  footer {
    padding: 2rem 0;
  }

  .footer-icon .sosmed .icon-png {
    width: 19px;
    height: 19px;
  }
}

@media screen and (max-width: 575px) {
  .up {
    right: 3em;
    bottom: 3em;
  }
  .up .icon_up {
    width: 24px;
    height: auto;
  }
}

@media screen and (max-width: 520px) {
  nav ul {
    padding: 6em 0 0 0.5em;
  }

  nav ul li a {
    font-size: 85%;
  }
  .up {
    right: 2em;
    bottom: 2em;
  }
}

@media screen and (max-width: 400px) {
  .contact-form input,
  .contact-form textarea,
  .btn-submit {
    width: 90%;
  }
}
